/** Typography */

body.logged {
    font-size: 13px;
    line-height: 15px;
    color: $text_logged_color;
}

.logged a {
    color: $text_logged_color;
}

.nowrap {
    white-space: nowrap;
}


/*New to new designs*/