// global variables
$image_path: "../img/" !default;
$fonts_path: "../fonts/" !default;
$main_green: #90C059;
$main_white: #fff;
$main_light_gray: #F0F2F4;
$main_blue: #4889C9;
$main_footer: #F7F8F9;
$border_gray_color: #dbdfe3;
$main_text: #030303;
$text_gray: #73797F;
$size_normal: 16px;
$size_main_menu: 15px;
$font_family: 'HelveticaNeue',
'Helvetica',
sans-serif;
$helvetica_light: 'HelveticaNeueLight';
$helvetica_regular: 'HelveticaNeueRoman';
$helvetica_medium: 'HelveticaNeueMedium';
$helvetica_bold: 'HelveticaNeueBold';
$big_desktop_size: 1440px;
$desktop_size: 1200px;
$tablet_size: 992px;
$mobile_size: 767px;
$small_size: 480px;
$container_width: 830px;
//$material_animation:        cubic-bezier(.4,0,.2,1);
// Logged pages variables
$text_logged_color: #3e454c;
$table_head_bg: #f0f2f4;
$btn_view_opt_color: #7cac45;
$text_body_small: 13px;
// Forms and buttons
$form_control_border: #74797f;
$btn_primary_bg: #4889c9;